body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  width: 100%;
  margin-top: 100px;
  overflow-y: auto;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  max-width: 200px;
}

.article-item img {
  width: 100%;
  height: auto;
}